h1{
    color: rgb(255, 234, 206);
    background: rgb(187, 91, 176);
    font-family: Arial, Helvetica, sans-serif;
}
a{
    font-size: 30px;
    color: rgb(196, 196, 141);
    text-decoration: none;
    background: rgb(187, 111, 187);
}
body{
    background: darkgrey;
}